<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SOme website</title>
  </head>
  <body>
    {{> header}}
    <h1>{{pageTitle}}</h1>
    <p>There have been {{numberOfRequests}} total requests made to this website since the server was started.</p>
    {{> footer}}
  </body>
</html>